* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 20px;
}

header .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
header .profile img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}
header .profile ul li:first-child {
    color: black;
    font-weight: bold;
}
header .profile ul {
    display: none;
}

header .profile:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    top: 80px;
    right: 10px;
    z-index: 1;
}

header .profile ul li {
    padding: 5px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;    
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #515151;
    width: 200px;
    min-height: 100vh;
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav ul li {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

nav ul li a, nav ul li a:visited {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: bold;
}

main .dashboard {
    width: 100%;
    min-height: 100vh;
}

main .dashboard h2 {
    padding: 20px;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
}

main .dashboard .statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

main .dashboard .statistics section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

main .dashboard .statistics section h3, main .dashboard .graphs section h3 {
    text-align: center;
    font-size: 1.2em;
}

main .dashboard .statistics section ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 1.1em;
}

main .graphs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

main .dashboard .graphs section img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}